name: Proctor - A/B Testing Framework by Indeed


highlighter: rouge
# library used for syntax highlighting

markdown: kramdown
kramdown:
 input: GFM
 auto_ids: true
 hard_wrap: false
 syntax_highlighter: rouge
   syntax_highlighter_opts:
     disable: true
 gems:
  - jekyll-gist


baseurl: "https://jkernion-indeed.github.io/proctor"
# jekyll serve --watch --baseurl=


relative_permalinks: false
# permalinks are relative to their parent folder
